name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2

    - name: Build
      run: xcodebuild -scheme WhisperTranscriber -project WhisperTranscriber.xcodeproj -destination 'platform=macOS' build
